#request
{
font-size:80px;
background-color:red;
position:absolute;
top:250px;
left:350px;
height:150px;
width:800px;
}
#request:hover
{
font-size:85px;
}
#donate{
position:absolute;
top:450px;
left:500px;
width:500px;
height:75px;
font-size:50px;
background-color:red;
}
#donate:hover{
font-size:55px;
}
.header
{	
width:1500px;
height:185px;
}
a
{
text-decoration:none;
color:white;
}