#header{
	width:1520px;
	height:195px;
	background-color:#dc4640;
}
.header_image
{
	position:absolute;
	left:325px;
	width:850px;
	height:195px;
}
#req
{
	position:absolute;
	top:250px;
	left:25px;
	color:#7d7d7d;
	font-size:40px;
}
#left
{
	position:absolute;
	left:25px;
	top:350;
}
#left_1
{
	position:absolute;
	top:375px;
	left:25px;
}
#right{
	position:absolute;
	right:585px;
	top:350;

}
#right_1
{
	position:absolute;
	top:375px;
	right:25px;
}
#left_2
{
	position:absolute;
	top:425px;
	left:25px;
}
#left_3
{
	position:absolute;
	top:450px;
	left:25px;
}
#right_2
{
	position:absolute;
	top:425px;;
	right:550px;
}
#right_3
{
	position:absolute;
	top:450px;
	right:25px;
}
#left_4
{
	position:absolute;
	top:500px;
	left:25px;
}
#left_5
{
	position:absolute;
	top:525px;
	left:25px;
}
#button
{
	position:absolute;
	top:575px;
	right:570px;
}
#right_5
{
	position:absolute;
	top:525px;
	right:25px;
}
#right_4
{
	position:absolute;
	top:500px;
	right:580px;
}
.b
{
	background-color:#dc4640;
	color:white;
}
#left_6
{
	position:absolute;
	top:575px;
	left:25px;
}
#left_7
{
	position:absolute;
	top:600px;
	left:25px;
}

